body{
    font-family: serif;
    font-size: large;
    font-weight: 100;
    font-style: normal;
    line-height: 1.5;
    /* align */
    width: 80%; text-align: left; padding-left: 10%;
}
.code {  
    background-color: #eae9ed; 
    padding: 0 5px;
}
.stuck {
    background-color: blanchedalmond;
    padding: 5px;
    border: 1px solid gray;
}